/* Timeline */
.timelineContainer {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 45vh;
  position: fixed;
  left: calc(50% - 5px);
  transform: translateX(-50%);
  bottom: 5px;
  width: calc(100vw - 10px);
  box-sizing: border-box;
  padding: 0px;
  margin: 5px;
}

.timelineIndicator {
  color: aliceblue;
  text-align: center;
}
.launchesContainer{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Tiles */
.tileContainer{
  padding: 5px;
  margin: 5px;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  color: rgb(131, 182, 221);
  border: 1px solid aliceblue;
  border-radius: 5px;
  background-color: rgb(33, 33, 33);
}
.tileTop, .tileBottom{
  overflow: hidden;
  width: 100%;
  flex: 1;
}
.tileBottom{
  position: relative;
}
.tileImage{
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.tileButton{
  position: absolute;
  text-align: center;
  z-index: 2;
}

/* Loading icon */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loadingIcon {
  z-index: 5;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}
.pastMarker, .futureMarker{
  display: flex;
  position: fixed;
  color: aliceblue;
  bottom: 100%;
}
.pastMarker{
  left: 0;
}
.futureMarker{
  right: 0;
}

.singleLaunchContainer{
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 350px;
}
.patch{
  width: 200px;
  height: 200px;
}
.singleLaunchImage{
  height: auto;
  width: auto;
  max-width: 100%;
}
.singleLaunchContainer>*{
  color: aliceblue;
}

@media screen and (max-width: 800px) {
  .launchesContainer{
    flex-direction: column !important;
    overflow: scroll;
  }
}