/* Timeline */
.timelineContainer {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 350px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 0px;
}
.timelineIndicator {
  color: aliceblue;
  text-align: center;
}
.launchesContainer{
  display: flex;
  height: 95%;
  margin: 0px;
  padding: 0px;
}
.timelinePast, .timelineFuture{
  height: 100%;
}

/* Tiles */
.tileContainer{
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  border: 5px solid aliceblue;
  border-radius: 10px;
}
.tileTop, .tileBottom{
  overflow: hidden;
  width: 100%;
  flex: 1;
}
.tileBottom{
  position: relative;
}
.tileImage{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.tileButton{
  text-align: center;
}

/* Loading icon */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loadingIcon {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pastMarker, .futureMarker{
  display: flex;
  position: fixed;
  color: aliceblue;
  bottom: 0;
}
.pastMarker{
  left: 0;
}
.futureMarker{
  right: 0;
}