.tileContainer{
  display: grid;
  grid-template: 3em 1fr / 50% 50%;
  position: relative;
  margin: 5px;
  padding: 5px;
  position: relative;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  background-color: rgb(33, 33, 33);
  overflow: hidden;
  min-height: 200px;
}
.tileTitle{
  grid-area: 1 / 1 / 2 / 3;
  border-bottom: 1px solid aliceblue;
  margin: 0;
  text-align: center;
}
.tileImage{
  grid-area: 2 / 2 / 3 / 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: 110%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.tileDate{
  margin: 0;
}
.tileDetails{
  grid-area: 2 / 1 / 2 / 1;
  padding: 5px;
  margin: 0;
}