.earthContainer{
  position: relative;
  width: 95%;
  height: 95%;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
.pastMarker, .futureMarker{
  display: flex;
  position: fixed;
  bottom: 35vh;
}
.pastMarker{
  left: 5vw;
}
.futureMarker{
  right: 5vw;
}

/* Timeline */
.timelineContainer {
  display: grid;
  grid-template-columns: 49vw 2vw 49vw;
  grid-template-rows: 30vh;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}
.pastContainer{
  display: inline-flex;
  flex-direction: row-reverse;
  grid-area: 1 / 1 / 2 / 2;
}
.presentIndicator {
  display: inline-flex;
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(131, 32, 9);
}
.futureContainer{
  display: inline-flex;
  flex-direction: row;
  grid-area: 1 / 3/ 2 / 4;
}
.earthThumbnail{
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  background-color: rgb(96, 96, 96);
  height: 100%;
  overflow: hidden;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.left{
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.right{
  grid-area: 1 / 2 / 2 / 3;
}
.left>img{
  height: 100%;
  width: auto;
  object-fit: cover;
}


/* Earth graphic and pad navigation buttons */
.padButtonContainer{
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  height: 40vw;
}
.padButtonContainer>*{
  position: absolute;
}
#earthImage{
  width: 100%;
  height: auto;
}
#vandyPadButton{
  top: 45%;
  left: 20%;
}
#capePadButton{
  top: 57%;
  left: 66%
}
#starbasePadButton{
  top: 61%;
  left: 45%;
}